body{
    background-color: blanchedalmond;
 color: brown;
}span{color: rgb(108, 160, 238);}

.contagem{
    background-color: rgb(248, 226, 178);
    padding: 20px 0;
    text-align: center;
}
.objetivos{
    color: cornflowerblue;
    padding: 16px;
    font-size: 18px;
}
.ativo{
    background-color: rgb(144, 198, 207);
    color: brown;
    border-bottom: 3px solid rgb(18, 161, 102);
}
.abaconteudo{
    display: none;   
}

.ativa{
    display: block;
    color: rgb(178, 238, 248) ;
}